@charset "utf-8";html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,textarea,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;font-size:100%;}
html{overflow-y:scroll}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
b,strong{font-weight:bold}
nav,ol,ul{list-style-type: none;}
img{border: 0;vertical-align: top;}
table{border-collapse: collapse;border-spacing: 0;}
input,button,textarea{color:#444;line-height: 1.231;font-family: 'Meiryo',sans-serif;font-family: 'MS PGothic',arial,sans-serif\0/;font-size: 13px;-webkit-text-size-adjust:none;}
select,input,button{font-size: 100%;margin:0;vertical-align:top;}
button,input{line-height: normal;}
button,html input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="checkbox"],input[type="radio"]{box-size:boder-box;padding:0;}
textarea{overflow=x:hidden;overflow-y=auto;vertical -align:;}
:focus{outline:0}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
em,cite{font-style:normal;}
table,th,td{border:0;}
fieldset{border: 0}
fieldset legend{position:absolute;left:-9999px;width:0;height:0;overflow:hiddn;margin:0;padding:0;}
hr{display: none;}
body{color:#444;line-height: 1.231;font-family: 'Meiryo',sans-serif;font-family: 'MS PGothic',arial,sans-serif\0/;font-size:13px;-webkit-text-size-adjust:none ;}
body.Exlang_ms,body.Exlang_id.Exlang_en,body.Exlang_en-us{font-family: "Roboto",sans-serif;}